<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="SleepProductivityDB"
			 connectionString = "Host=localhost; Port=5432; Database=sleep_productivity; Username={username}; Password={password}"
			 providerName ="Npgsql"/>
		</connectionStrings>
</configuration>