<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="SleepProductivityDB"
			 connectionString = "Host=185.221.215.14; Port=5432; Database=sleep_productivity; Username={username}; Password={password};  Timeout=30"
			 providerName ="Npgsql"/>
		</connectionStrings>
</configuration>