<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="SleepProductivityDB"
			 connectionString = "Host={host}; Port={port}; Database={dataBase}; Username={username}; Password={password};  Timeout=30"
			 providerName ="Npgsql"/>
		</connectionStrings>
</configuration>